* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 700px;
  margin: 80px auto;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
}

h1 {
  color:  hsl(24, 5%, 18%);
  margin: 10px 0;
  font-size: 30px;
  
}


.container {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px hsl(30, 54%, 90%);
}

.omelette-image {
  width: 100%;
  height: auto;
  border-radius: 13px;
}

p {
  color: hsl(30, 10%, 34%);
  margin-bottom: 20px;
}

li::marker{
  color: hsl(14, 45%, 36%);
}

.preparation-time {
  padding: 30px;
  background-color: hsl(330, 100%, 98%);
  color: hsl(30, 10%, 34%);
  border-radius: 15px;
  list-style-position: inside;
  line-height: 2;
  margin-bottom: 30px;
}

.preparation-time h2 {
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
  margin-bottom: 10px;
}

main .ingredients{
  list-style-position: inside;
  line-height: 2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

main .ingredients h2{
  margin-bottom: 20px;
}

main .instructions{
  /* list-style-position: inside; */
}

main .instructions h2{
  margin-bottom: 20px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
