* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 700px;
  margin: 80px auto;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  margin-bottom: 15px;
}

h1 {
  color: hsl(24, 5%, 18%);
  margin: 10px 0;
  font-size: 30px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px hsl(30, 54%, 90%);
}

p {
  color: hsl(30, 10%, 34%);
  margin-bottom: 20px;
  line-height: 1.5;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

header .omelette-image {
  width: 100%;
  height: auto;
  border-radius: 13px;
}

header .preparation-time {
  padding: 30px;
  background-color: hsl(330, 100%, 98%);
  color: hsl(30, 10%, 34%);
  border-radius: 15px;
  list-style-position: inside;
  line-height: 2;
  margin-bottom: 30px;
}

header .preparation-time h2 {
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
}

main .ingredients {
  list-style-position: inside;
  line-height: 2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

main .instructions {
  line-height: 1.5;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

main .instructions ol {
  padding-left: 1.5em;
}

main .instructions ol li {
  margin-bottom: 20px;
}

main .instructions ol li::marker {
  content: counter(list-item) ".   ";
}

main .nutrition h2 {
  margin-bottom: 15px;
}

main .nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

main .nutrition-table td {
  padding: 8px 15px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

main .nutrition-table tr:nth-child(4) td {
  border-bottom: none;
}

main .nutrition-table .nutrition-value {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

footer .attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(14, 45%, 36%);
}

@media (min-width: 1440px) {
  body {
    max-width: 1200px;
    font-size: 28px;
  }

  h1 {
    font-size: 52px;
    margin: 20px 0;
  }

  .container {
    padding: 50px;
    border-radius: 25px;
  }

  header .omelette-image {
    border-radius: 25px;
  }

  header .preparation-time {
    padding: 20px 40px;
  }

  .preparation-time,
  .ingredients,
  .instructions,
  p {
    line-height: 2;
  }

  main .nutrition-table td {
    padding: 18px 24px;
  }

  footer .attribution {
    font-size: 14px;
    margin: 30px;
  }
}

@media (max-width: 375px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 0;
    border-radius: 0;
  }

  header .omelette-image {
    border-radius: 0;
    width: 100vw;
    height: auto;
    margin: -10px 0;
  }

  header .recipe-header {
    padding: 20px 30px 10px;
  }

  header .preparation-time {
    padding: 10px;
    margin: 0 30px;
  }

  main .ingredients {
    padding: 20px 30px;
  }

  main .instructions {
    padding: 0 30px;
  }

  main .instructions ol li {
    margin-bottom: 15px;
  }

  main .nutrition {
    padding: 0 30px;
  }

  .preparation-time,
  .ingredients,
  .instructions,
  .nutrition {
    padding-bottom: 10px;
  }

  main .nutrition-table td {
    padding: 5px 15px;
  }

  footer .attribution {
    margin: 10px;
  }
}
